@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

/* 
MINE FROM HERE
*/

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: Kanit;
}

p,
span,
input {
  font-family: "Courier New", Courier, monospace;
  /* letter-spacing: -0.1ch; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  align-items: center;
  background-color: #fd933e;
  border: 1px solid #000;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5;
  padding: 0.4rem 0.8rem;
  /* position: relative; */
  text-align: center;
  transition: all 0.2s;
  vertical-align: top;
}

button:active,
button:focus {
  outline: none;
}

button:hover {
  background-color: #b1672b;
  color: #fff;
}

nav {
  position: fixed;
  background-color: #6db4d4;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  font-family: Kanit;
}

ul,
li,
a {
  color: white;
}

p,
h3 {
  font-family: "Courier New", Courier, monospace;
}

a:link {
  text-decoration: none;
}

.logo-text a {
  font-size: 3em;
  color: white;
  line-height: 1;
}

nav ul {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  list-style: none;
}

.home-wrap {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url("./assets/ipa-can-and-glass.jpg");
  background-size: cover;
  height: 90vh;
}

.banner {
  bottom: 0;
  color: #6dd483;
  padding: 4rem 4rem;
  padding-bottom: 10rem;
  background-image: linear-gradient(
    transparent,
    20%,
    rgba(0, 0, 0, 0.7),
    70%,
    rgba(0, 0, 0, 0.95)
  );
}

.banner h1 {
  font-size: 6rem;
  font-family: Kanit;
  line-height: 1;
  margin-bottom: 1rem;
}

.banner p {
  max-width: 800px;
  margin-bottom: 1.5rem;
}

.shop-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("./assets/colourful-beer-in-glasses.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding-top: 10vh;
}

.shop-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("./assets/colourful-beer-in-glasses.jpg");
  background-size: cover;
  background-position: center;
  padding: 15vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-banner h2 {
  color: white;
  font-size: 4rem;
}

.filter-wrap {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.filter ul {
  list-style: none;
  font-size: 1.2rem;
}

.filter ul li {
  display: inline;
  margin: 0 0.5rem;
}

.filter a:focus {
  text-decoration: underline;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b94b1;
  height: 50px;
  width: 50px;
  border-radius: 5px 0 0 5px;
  position: fixed;
  right: 0;
  top: 20%;
  transition: all 0.3s ease;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}

.cart:hover {
  height: 55px;
  width: 55px;
}

.cart.expanded {
  height: auto;
  width: 30rem;
  cursor: auto;
  padding: 1rem;
  padding-right: 2rem;
  overflow: hidden;
}

.cart-list-wrap {
  /* background-color: white; */
  max-height: 500px;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  overflow-y: auto;
}

.cart-list-item {
  background-color: rgb(241, 241, 241);
  padding: 1rem;
  margin-bottom: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 5px;
}

.cart-list-item:nth-child(even) {
  background-color: rgb(207, 207, 207);
}

.cart-list-item .item-name {
  margin-bottom: 0.5rem;
}

.update-item-area {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.update-item-area button {
  font-size: 0.8rem;
}

.update-item-area input {
  width: 2rem;
  line-height: 2;
  text-align: center;
}

.update-item-area input:focus {
  outline: 1px solid;
}

.checkout-button {
  margin-top: 1rem;
  margin-right: auto;
}

.fa-shopping-cart {
  color: #82204a;
  font-size: 2em;
  margin: auto;
}

.cart-num {
  position: absolute;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
}

.close-cart {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.item-quantity {
  font-size: 0.9em;
}

.cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.cards-bg {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.521);
  border-radius: 20px;
}

.item-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.item-card {
  background-color: #fff;
  height: 24rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
}

.item-card:nth-child(even) {
  background-color: #fff;
}

.item-card:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.521);
}

.item-card img {
  object-fit: contain;
  max-height: 12rem;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.521);
}

.item-card .text,
.item-card img {
  margin-bottom: 1.2rem;
}

.item-card .text h3,
.item-card .text p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.add-item-area {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-item-area input {
  width: 2rem;
  line-height: 2;
  text-align: center;
}

.add-item-area input:focus {
  outline: 1px solid;
}

.text p {
  font-size: 0.8em;
  margin-top: 1%;
}

@media only screen and (max-width: 1750px) {
  .item-cards {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 1300px) {
  .item-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 850px) {
  .item-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
